#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#

# files to ignore
*.o
*.lo
*.la
*.a
Makefile
/bochs
/bxhub
/bximage
/bxversion.h
/bxversion.rc
/config.h
/config.log
/config.status
/libtool
/ltdlconf.h
/build/linux/bochs-dlx
/build/macosx/Info.plist
/build/win32/nsis/bochs.nsi

# my files
/conf.freebsd

# folders to ignore
.libs/

#
# git files that we don't want to ignore even if they are dot-files
#
!.gitignore

